<h1>#Cocktail#</h1>

<h3><%= @cocktail.name %></h3>




<%= link_to "Cocktails list", root_path %>
<%= link_to "Add dose", new_cocktail_dose_path(@cocktail) %>
<%= link_to "Delete dose", new_cocktail_dose_path(@cocktail) %>
