<div class="container">
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.association :ingredient, collection: @ingredients, input_html: { multiple: true }, include_hidden: false %>
    <%= f.input :description %>
    <%= f.submit %>
  <% end %>
</div>
